body{
  margin:0;
  padding:0;
  font-family: 'Josefin Sans','Noto Sans TC','Caveat','Lobster','Roboto' ,sans-serif;
  background-color: #000051;
  overflow: hidden;
  letter-spacing: 3px;
}

#login{
  position: absolute;
  right:0;
  bottom:3%;
  transform: translate(60%);
  transition: all 0.3s linear;
}

#login:hover{
  transform: translate(70%);
}

#login a{
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background-color: #ffffff;
  border-radius: 50%;
  font-size: 1rem;
  color:#000041;
  padding-left:0.3rem;
  text-decoration: none;
  transition: all 0.1s linear;
}

#login a:hover{
  color:#0000ff;
  padding-left:0.5rem;
}

#becontent{
  background-color: blanchedalmond;
  width: 100%;
  height: 100vh;
  overflow: scroll;
}

#profile .intr{
  letter-spacing: 3px;
}

#profile,#side{
  background-color: #F4E245;
  height: 100vh;
  color: #00005c;
}

#profile .contact ul li{
  list-style: none;
} 

#profile h4{
  color:#ff019e;
  border-bottom: 0.5px solid #ff019e;
  border-width: 60%;
} 

#profile .link a{
  font-size: 2rem;
  color:#030e4e;
}

#profile .link a:hover{
  color:#1f1fce;
}

#profile .introduction img{
  margin-left: 50%;
  transform: translate(-50%);
}

#profile .introduction {
  padding: 0 0.5rem;
}

#profile .introduction small{
  font-family: 'Caveat', cursive;
}

#profile h1{
  margin-top:0.5rem;
  margin-bottom: 0.2rem;
  color:#1f1fce;
}

#footer{
  background-color: #F4E245;
  color:#000000;
  text-align: left;
  padding-left: 5%;
  width: 100%;
}

#content{
  background-color: blanchedalmond;
  height: 100vh;
  overflow-y: scroll;
  color:#00005c !important;
}

.progress-bg{
  background-color: #0080ffab;
}

#content h1{
  font-size: 1.5rem;
  color:#ff019e;
  border-bottom: 0.5px solid #ff019e;
}

#content ul {
  padding-left:1rem;
}

#content ul li{
  list-style: none;  
}

#content .year{
  font-family: 'Noto Sans';
}

.table{
  color:#00005c !important;
}


#work ul li:hover,#study ul li:hover{
  color:rgb(255, 123, 0);
}

#work ul li:before,#study ul li:before{
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #000041;
  transform: rotate(45deg);
  border-radius: 25%;
  margin-right:5px;
}

#work ul li:hover:before,#study ul li:hover:before{
  list-style: circle;
  animation: circle 2s linear infinite alternate;
  z-index: 999;
  border:0.5px solid #00ffea;

}

@keyframes circle{
  form{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

#work ul li:after,#study ul li:after{
  content:"";
  position: absolute;
  border-left: 1px solid #000041;
  top: 6px;
  bottom: 0px;
  right:96%;
  z-index: 1;
}

#content #skill h5{
  padding-left: 1rem;
  color: #1f1fce;
}

#content #skill .front .value{
  font-size: 0.4rem;
  margin-left: 40%;
  transform: translate(-40%);
  color: #4b3d46;
}

#portfolio .box{
  height: 150px;
}

#portfolio .box a{
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}

#portfolio .box img{
  width: 100%;
  height: 100%;
  object-fit:cover;
}

#portfolio .box a:hover:before{
  content:"點我看作品:)";
  display: inline-block;
  width: 50%;
  padding:10px;
  border-radius: 15px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.432);
  color: #fff;
  text-align: center;
  margin-left: 50%;
  margin-top:63.5px;
  transform: translate(-50%);
}

#portfolio .card-body-bg{
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

#content::-webkit-scrollbar,#becontent::-webkit-scrollbar {
  width: 9px;               /* width of the entire scrollbar */
}

#content::-webkit-scrollbar-track {
  background: #F4E245;        /* color of the tracking area */
}

#content::-webkit-scrollbar-thumb,#becontent::-webkit-scrollbar-thumb {
  background-color: #000051;    /* color of the scroll thumb */
  border-radius: 15px;       /* roundness of the scroll thumb */
  border: 2px solid #F4E245;  /* creates padding around scroll thumb */
}

#side .btn-group-vertical button{
  border-radius: 15px;
  border: 1px solid #000051;
  margin: 0.5rem auto;
  transition: all 0.5s linear;
}

#side .btn-group-vertical button:hover{
  background-color: #000051;
  color: #ffffff;
  transform: translate(5%);
}

#side h1{
  font-size: 2rem;
}

#backend_profile .form-check-input{
  top:20%;
}

input[readonly],input:disabled,input[disabled]{
  background-color:transparent !important; 
  border:none !important;
}


input[readonly]:focus,input[disabled]:focus{
  outline: none;
}

